body {
  font-family:'Avenir LT W01 55 Roman', helvetica, arial, sans-serif;;
}

.nav {
  font-family:'Avenir LT W01 85 Heavy', helvetica, arial, sans-serif;
  
    a {
      color:$brand-color;
      @include font-size(14px);
      text-decoration:none;
    }
}